/* Contact Styles */
.footer {
    background: #fff;
    padding: 10px 0 0 0;
    border-top: 2px solid #000;
  }
  
  .footer-items{
    display: flex;
    gap: 20px;
  }
  
  .footer-links {
    color: #000;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .ownership {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-weight: 700;
  }
  
  @media screen and (max-width: 800px) {
    .footer-container {
      flex-direction: column;
    }
  
    .contact-title {
      margin-bottom: -25px;
    }
  
    #contact {
      padding: 10px;
    }
  
    .email-form-container {
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 0;
    }
  
    .form {
      width: 100%;
      margin-top: 50px;
    }
  
    .contact-msg {
      width: 100%;
      margin-top: -30px;
    }
  
    .qrCode {
      width: 200px;
      margin-top: 0;
    }
  
    .email-btn {
      font-size: 16px;
    }
  }